.form-wrapper {
    grid-template-columns: 1fr;
  }

  .form-title {
    font-size: 1.75rem;
  }

  .form-subtitle {
    font-size: 1rem;
  }

  .form-row {
    grid-template-columns: 1fr;
  }

  .benefit-item {
    padding: 1rem;
  }

  @media (min-width: 480px) {

  }

  @media (min-width: 768px) {

  }

  @media (min-width: 1024px) {
    
  }